@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Quicksand;
    margin: 0px;
    padding: 0px;
}
/* Font color */
.orange{
    color: rgb(254, 163, 1);
}
.sky-blue{
    color: rgb(1, 172, 253);
}
.rgb-1{
    color: rgb(5, 212, 223);
}
.rgb-2{
    color: rgb(93, 88, 239);
}
.dark-nav{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.875rem;
}
.white-1{
    color: rgb(255, 255, 255);
}
.dark-1{
    color: rgb(17, 17, 17);
}
/* style navigation */
.kid-school-navigation{
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}
.nav-school{
    display: flex;
    align-items: center;
}
.nav-school-text{
    padding-left: 12px;
}
.same-link{
    text-decoration: none;
    padding-right: 32px;
    font-weight: 700;
line-height: 1.875rem;
}
.primary-btn{
    /* margin-right: 20px; */
    border-radius: 12px;
background: rgb(254, 163, 1);
width: 197px;
height: 50px;
border-style: none;
font-size: 20px;
font-weight: 600;
line-height: 30px;
margin-left: -32px;

}
#nav-hidden{
    display: none;
}
.hr-line{
    margin: 0 185px;
    background-color: aquamarine;
}
/* style kid-school-heading */
.kid-school-heading{
    margin: 20px 185px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kid-school-detail{
    padding-right: 50px;
}
.vision-heading{
    font-size: 3.5rem;
font-weight: 700;
line-height: 3.81rem;
margin-bottom: 30px;
}
.kid-school-info{
    font-size: 20px;
font-weight: 400;
line-height: 25px;
padding-bottom: 30px;
}
.enroll-btn{
    border-radius: 12px;
background: rgb(17, 17, 17);
width: 197px;
height: 50px;
font-size: 1.25rem;
font-weight: 700;
line-height: 1.875rem;
}
@media screen and (max-width:576px) {
    /* responsive navigation bar */
    .kid-school-navigation{
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        border: 1px solid rgb(254, 163, 1);
    }
    .nhide{
        display: none;
    }    
    #nav-hidden{
        display: initial;
    }
    /* responsive kid school heading */
    .kid-school-heading{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;    
    }
    .kid-school-detail{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .vision-heading{
        width: 400px;
    }
    .break{
        display: none;
    }
}