@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Quicksand;
    margin: 0px;
    padding: 0px;
}
.display-flex{
    display: flex;
}
body{
    overflow-x: hidden;
    margin-right: -34px;
}
.story-date{
    border-radius: 47.93px;
    width: 174px;
    height: 47px;
    border-style: none;
    }
/* Font color */
.orange{
    color: rgb(254, 163, 1);
}
.sky-blue{
    color: rgb(1, 172, 253);
}
.rgb-1{
    color: rgb(5, 212, 223);
}
.rgb-2{
    color: rgb(93, 88, 239);
}
.dark-nav{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.875rem;
}
.white-1{
    color: rgb(255, 255, 255);
}
.dark-1{
    color: rgb(17, 17, 17);
}
.dark-2{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 2.875rem;
font-weight: 700;
line-height: 3.6rem;
}
/* style navigation */
.kid-school-navigation{
    max-width:1440px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}
.nav-school{
    align-items: center;
}
.nav-school-text{
    padding-left: 12px;
}
.same-link{
    text-decoration: none;
    padding-right: 32px;
    font-weight: 700;
line-height: 1.875rem;
}
.primary-btn{
    /* margin-right: 20px; */
    border-radius: 12px;
background: rgb(254, 163, 1);
width: 197px;
height: 50px;
border-style: none;
font-size: 20px;
font-weight: 600;
line-height: 30px;
margin-left: -32px;

}
#nav-hidden{
    display: none;
}
.hr-line{
    margin: 0 185px;
    background-color: aquamarine;
}
/* style kid-school-heading */
.kid-school-heading{
    margin: 20px 185px;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
}
.kid-school-detail{
    padding-right: 50px;
}
.vision-heading{
    font-size: 3.5rem;
font-weight: 700;
line-height: 3.81rem;
margin-bottom: 30px;
}
.kid-school-info{
    font-size: 20px;
font-weight: 400;
line-height: 25px;
padding-bottom: 30px;
}
.enroll-btn{
    border-radius: 12px;
background: rgb(17, 17, 17);
width: 197px;
height: 50px;
font-size: 1.25rem;
font-weight: 700;
line-height: 1.875rem;
}
html,body,main,section{
    /* width: 100%; */
}
/* style study-curriculum */
.study-curriculum{
    max-width: 1440px;
    background-image: url('./assets/bg.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
}
.curriculum-content-box{
    justify-content: center;
    align-items: center;
    padding: 80px 140px;
}
.curriculum-content{
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 19px;
    flex-direction: column;
    align-items: center;
    height: 475px;
    width: 365px;
    box-shadow: rgba(0, 0, 0, 0.05)inset 0px 0px 28.3px 0.94px;
}
.curriculum-box-1{
    border: rgb(222, 245, 255);
    margin-right: 30px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-box-2{
    margin-right:30px;
    border: rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-box-3{
border:rgb(242, 232, 255);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-img{
    padding: 65px 120px 40px 120px;
}
.curriculum-name{
color: rgb(32, 32, 32);
font-size: 1.5rem;
font-weight: 700;
line-height: 1.875rem;
padding-bottom: 34px;
}
.curriculum-info{
    color: rgb(128, 128, 128);
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem;
padding: 0 20px 20px 20px ;
}
.read-more-info{
    border-style: none ;
    background-color: white;
    font-size: 1rem;
font-weight: 700;
line-height: 1.75rem;
}
#curriculum-arrow{
    color: azure;
    background-color: orange;
    margin-right: 10px;
    padding: 20px;
    border-radius:30px;
}
/* style School-story */
.kid-school-story{
    max-width: 1440px;
    background-image: url('./assets/bg.png');
    background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:100%;
}
.our-story{
    padding:60px 0 80px 0;
}
.story-content-box{
    margin: 0 140px;
    gap: 20px;
}
.classroom-moment{
    flex-direction: column;
    width: 540px;
    height: 630px;
    border-radius: 16px;
background: rgb(255, 255, 255);
}
.classroom-pic{
   border-radius: 15px;
}
.date-1{
    background-color: rgb(60, 216, 232);
    margin-top:-25px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
line-height: 1.75rem;
}
.classroom-heading{
    padding:36px 0 0 40px;
}
.classroom-story{
    margin: 50px 0 0 20px;
}
.another-story-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.another-story-info{
    height: 300px;
    width: 290px;
    border-radius: 16px;
background: rgb(255, 255, 255);
}
.another-story-pic{
    border-radius:15px ;
    /* width: 100%; */
    margin-bottom: -25px;
}
.date-2{
background: rgb(149, 178, 38);
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
line-height: 1.75rem;
margin-left:20px;

}
.another-story-heading{
    color: rgb(0, 0, 0);
    padding: 20px;
font-size:1rem;
font-weight: 700;
line-height: 1.75rem;
}
.date-3{
    background: rgb(93, 88, 240);
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
margin-left: 20px;
line-height: 1.75rem;
}
.view-all{
    margin: 80px 0;
}
/* style footer */
.footer{
    overflow-x: hidden;
    max-width: 1440px;
    width: 100%;
    background: rgb(1, 172, 253);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.education{
    justify-items: start;
    width: 411px;

}
.footer-pic{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    margin-bottom: 20px;
    
}
.education-info{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
font-weight: 400;
line-height: 1.5rem;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.social{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.social-header{
    margin-bottom: 10px;

}
.social-img{
    margin-bottom: 80px;
    padding: 3px;
}
@media screen and (max-width:576px) {
    /* responsive navigation bar */
    .kid-school-navigation{
       margin-left: -3vw;
       /* width:576px; */
        display: flex;
        justify-content: space-around;
        border: 1px solid rgb(254, 163, 1);
    }
    .nhide{
        display: none;
    }    
    #nav-hidden{
        display: initial;
    }
    /* responsive kid school heading */
    .kid-school-heading{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto ;
    }
    .kid-school-detail{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .vision-heading{
        padding-top: 2vh;
    }
    .kid-school-info{
        padding: 0 3vw;
    }
    .break{
        display: none;
    }
    .hero-kids{
        width: 90%;
        padding:0 2vw 0 2vw;
    }
    /* responsive study curriculum */
    .curriculum-content-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .curriculum-content{
        margin: 0px auto;

    }
    #curriculum-arrow{
        display: none;
    }
    /* responsive school stories */
    .kid-school-story{
        margin: 0 auto;
    }
    .classroom-moment{
        display: none;
    }
    .another-story-box{
        width:100%;
    }
    .another-story-info{
        width: auto;
        
    }
    .another-story-pic{
        width: 100%;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        padding-left: 20px;
        gap: 60px;
    }
}